.addvideocontainer {
  width: 100%;
  min-height: 46.6rem;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.253);
  z-index: 999999999999999999999999;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0;
}
.addvideocontainer .addVideo {
  width: 70%;
  position: relative;
  height: 35rem;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.headeraddvideo {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  height: 60px;
  border-bottom: 2px gray solid;
}
.etpadeaddvideo {
  /* background-color: red; */
  height: 100px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.073), 0 2px 2px 0 rgba(0, 0, 0, 0.11);
}
.etpadeaddvideo hr {
  width: 80%;
  color: black;
  /* display: flex;
    justify-content: center;
    align-items: center; */
}
.etpadeaddvideo .first__details .done {
  font-size: 25px;
  color: #0760d4;
  font-weight: 700;
}
.etpadeaddvideo .first__details {
  /* background-color: red; */
  text-align: center;
  position: absolute;
  left: 68px;
  top: 70px;
}

.etpadeaddvideo .first__details .notdone {
  font-size: 25px;
  color: red;
  font-weight: 700;
}

.etpadeaddvideo .element__video {
  /* background-color: red; */
  text-align: center;
  position: absolute;
  left: 300px;
  top: 70px;
}
.etpadeaddvideo .element__video .notdone {
  font-size: 25px;
  color: red;
  font-weight: 700;
  background-color: #fff;
}
.etpadeaddvideo .element__video .done {
  font-size: 25px;
  color: #0760d4;
  font-weight: 700;
  background-color: #fff;
}

.etpadeaddvideo .verif {
  /* background-color: red; */
  text-align: center;
  position: absolute;
  left: 600px;
  top: 70px;
}
.etpadeaddvideo .verif .notdone {
  font-size: 25px;
  color: red;
  font-weight: 700;
  background-color: #fff;
}
.etpadeaddvideo .verif .done {
  font-size: 25px;
  color: #0760d4;
  font-weight: 700;
  background-color: #fff;
}

.etpadeaddvideo .visivilté {
  /* background-color: red; */
  text-align: center;
  position: absolute;
  left: 825px;
  top: 70px;
}
.etpadeaddvideo .visivilté .notdone {
  font-size: 25px;
  color: #0000005f;
  font-weight: 700;
  background-color: #fff;
}
.etpadeaddvideo .visivilté .done {
  font-size: 25px;
  color: #0760d4;
  font-weight: 700;
  background-color: #fff;
}
.detailsaddvideo {
  width: 100%;
  height: 328px;
  display: flex;
  border-bottom: 1px solid black;
  margin-top: 10px;
}
.detailsaddvideo .addInput {
  width: 60%;
  /* background-color: aliceblue; */
  margin-left: 20px;
  padding-left: 10px;
  overflow-y: scroll;
}
.detailsaddvideo .addInput .inputTitle {
  width: 80%;
  height: 92px;
  background-color: white;
  border: 2px solid gray;
  padding-left: 5px;
  border-radius: 5px;
}
.detailsaddvideo .addInput .inputTitle textarea {
  width: 96%;
  height: 45px;
  border: 1px black solid;
  border: none;
  resize: none;
  padding-top: 10px;
  margin-left: 10px;
}
.detailsaddvideo .addInput .inputTitle h3 {
  color: gray;
  font-size: 15px;
  padding-top: 5px;
  font-weight: 400;
}

.inputTitle .uil-question-circle {
  font-size: 20px;
  color: gray;
  font-weight: normal;
  margin-left: 5px;
}
.inputText .uil-question-circle {
  font-size: 20px;
  color: gray;
  font-weight: normal;
  margin-left: 5px;
}
.detailsaddvideo .addInput input {
  border: none;
  width: 50%;
  height: 39px;
}
.detailsaddvideo .addInput h4 {
  /* background-color: red; */
  width: 40%;
  height: 39px;
}
.detailsaddvideo .addInput input:focus {
  outline: none;
}
.detailsaddvideo .addInput .inputText {
  width: 81%;
  margin-top: 25px;
  height: 150px;
  background-color: #fff;
  border: 2px solid gray;
  border-radius: 5px;
  margin-bottom: 22px;
}
.detailsaddvideo .addInput .inputText textarea {
  width: 96%;
  height: 109px;
  border: 1px black solid;
  border: none;
  resize: none;
  padding-top: 10px;
  margin-left: 10px;
}
.detailsaddvideo .addInput .inputText h3 {
  color: gray;
  font-size: 15px;
  padding-top: 5px;
  font-weight: 400;
}
.detailsaddvideo .addInput textarea {
  width: 100%;
  height: 125px;
  border: 1px black solid;
  border: none;
  resize: none;
}
.detailsaddvideo ::placeholder {
  padding-left: 20px;
  padding-top: 10px;
}
.detailsaddvideo .addInput textarea:focus {
  outline: none;
}
.detailsaddvideo .addInput textarea::placeholder {
  outline: none;
  padding-left: 5px;
  padding-top: 0;
}
.addInput .title__details {
  position: absolute;
  bottom: 350px;
  width: 400px;
  height: max-content;
  background-color: #fff;
  border-radius: 5px;
  z-index: 9999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.addInput .title__details p {
  padding: 20px;
  padding-bottom: 30px;
}

.addInput .desc__details {
  position: absolute;
  bottom: 230px;
  width: 400px;
  height: max-content;
  background-color: #fff;
  border-radius: 5px;
  z-index: 9999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.addInput .desc__details p {
  padding: 20px;
  padding-bottom: 30px;
}
.confirmaddvideo {
  display: flex;
  justify-content: space-between;
  padding: 0 15px;
  align-items: flex-end;
  height: 70px;
  align-items: center;
}
.confirmaddvideo button {
  background-color: rgb(7, 96, 212);
  width: 100px;
  height: 40px;
  border-radius: 10px;
  font-weight: 600;
  font-size: 15px;
  color: white;
  border: none;
  text-transform: uppercase;
}
.confirmaddvideo .telechergement {
  width: 60%;
  height: 70%;
  /* background-color: red; */
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 15px;
}
.confirmaddvideo .telechergement i {
  font-size: 25px;
  font-weight: normal;
  color: #0760d4;
}
.confirmaddvideo .telechergement h4 {
  font-weight: normal;
  color: rgb(100, 99, 99);
  margin-top: 7px;
}
.confirmaddvideo .telechergement .mis__enligne {
  background-color: #fff;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  width: 270px;
  height: 55px;
  border-radius: 5px;
  position: absolute;
  bottom: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 99999999999999999999999999999999999999999999999999;
}
.confirmaddvideo .telechergement .traitement__video {
  background-color: #fff;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  width: 200px;
  height: 70px;
  border-radius: 5px;
  position: absolute;
  bottom: 60px;
  left: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 99999999999999999999999999999999999999999999999999;
}
.confirmaddvideo .telechergement .verification {
  background-color: #fff;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  width: 280px;
  height: 85px;
  border-radius: 5px;
  position: absolute;
  bottom: 60px;
  left: 105px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  text-align: justify;
  z-index: 99999999999999999999999999999999999999999999999999;
}
.confirmaddvideo .telechergement .verification h4 {
  width: 80%;
  text-align: justify;
  color: #000000;
}
.confirmaddvideo .telechergement .verification p {
  text-align: justify;
  width: 80%;
  color: #00000098;
}

.detailsaddvideo .videouploaded {
  width: 33%;
  height: 85%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-left: 20px;
  margin-top: 30px;
  overflow: hidden;
  position: relative;
}
.detailsaddvideo .videouploaded iframe {
  width: 100%;
  height: 60%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.detailsaddvideo .vd_up_details {
  /* background-color: red; */
  height: max-content;
  padding: 10px;
  position: relative;
}
.vd_up_details .uil-copy {
  font-size: 25px;
  background-color: rgba(255, 255, 255, 0.977);
  left: 80px;
  top: 0px;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #000000a9;
}
.choose_file {
  width: 100% !important;
  height: 120px;
  /* background-color: rgb(93, 15, 15); */
  margin-top: 10px;
}
input[type="file"]::file-selector-button {
  border: 2px solid #000000;
  padding: 0.3em 0.4em;
  color: azure;
  background-color: #00000098;
  transition: 1s;
  width: 100px;
  height: 30px;
  z-index: 9999;
  top: 350px;
  left: 330px;
  font-size: 13px;
  cursor: pointer;
  border-radius: 5px;
}

.upload_button {
  background-color: #0760d4;
  width: 80px;
  height: 30px;
  border-radius: 5px;
  border: none;
  color: white;
  margin-bottom: 5px;
}
.videouploaded iframe {
  width: 100%;
  height: 100%;
  border-radius: 5px;
}

/* //-----------------------------loading upload  */
.upload__loader {
  width: 90px;
  height: 90px;
  /* background-color: red; */
  position: absolute;
  top: 0;
  left: 95px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 40px;
}
.loader {
  --dim: 3rem;
  width: var(--dim);
  height: var(--dim);
  position: relative;
  animation: spin988 2s linear infinite;
}

.loader .circle {
  --color: #333;
  --dim: 1.2rem;
  width: var(--dim);
  height: var(--dim);
  background-color: var(--color);
  border-radius: 50%;
  position: absolute;
}

.loader .circle:nth-child(1) {
  top: 0;
  left: 0;
}

.loader .circle:nth-child(2) {
  top: 0;
  right: 0;
}

.loader .circle:nth-child(3) {
  bottom: 0;
  left: 0;
}

.loader .circle:nth-child(4) {
  bottom: 0;
  right: 0;
}

@keyframes spin988 {
  0% {
    transform: scale(1) rotate(0);
  }

  20%, 25% {
    transform: scale(1.3) rotate(90deg);
  }

  45%, 50% {
    transform: scale(1) rotate(180deg);
  }

  70%, 75% {
    transform: scale(1.3) rotate(270deg);
  }

  95%, 100% {
    transform: scale(1) rotate(360deg);
  }
}

/* ---- end upload loading -------------- */
