.profileHeader{
    width: 82%;
    margin-left: 18%;
    height: 180px;
    border-bottom: 1px solid gray;
    display: flex;
    margin-bottom:20px;
}

.profileHeader .info{
    width: 70%;
    height: 88%;
    /* background-color: blue; */
}

.profileHeader .info .donne1{
    width: 70%;
    height: 50%; 
    display: flex;
padding: 20px 47px;


}


.donne1 .photo .bx-user-circle{
border-radius: 50%;
width: 70px;
height: 70px;
}
.donne1 .photo{
    width: 110px;
    height: 100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
}

.profileHeader .info .donne2{
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
}
.profileHeader .info .donne2 button{
    width: 150px;
    height: 46px;
    font-size: 18px;
    font-weight: 500;
    color: gray;
    background-color: transparent;
    border: none;
}
.profileHeader .info .donne2 i{
    width: 46px;
    height: 46px;
    font-size: 30px;
    font-weight: 500;
    color: gray;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
}
.profileHeader .info .donne2 input{
    width: 170px;
    height: 44px;
    font-size: 20px;
    font-weight: 500;
    color: gray;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: 210px;  
    border: none;
    border-bottom: 2px solid black;
}
/* .profileHeader .info .donne2 input{
    width: 170px;
    height: 46px;
    font-size: 30px;
    font-weight: 500;
    color: gray;
    background-color: red;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: 210px;
    
} */
/* .profileHeader .info .donne2 a{
    border-bottom: 2px solid black;
} */
.profileHeader .info .donne2 button:hover{
    color: black;
}
.profileHeader .info .donne2 i:hover{
    color: black;
    cursor: pointer;
}
.profileHeader .options {
    /* background-color: red; */
    width:28% ;
    display: flex;
    justify-content: space-around;
    height: 80%;
align-items: center;
    
}
.profileHeader .options button{
    width: 150px;
    height: 35px;
    border-radius: 20px;
    background-color:  rgb(7,96,212);
    color: white;
    font-weight: 300;
    font-size: 15px;
border: none;

}
input[type=file]::file-selector-button{
    width: 50px;
}