.VideoDescription{
    width: 88%;
    height: max-content;
    /* position: absolute; */
    background-color: #E5E5E5;
    margin-top: 15px;
    padding: 20px;
    border-radius: 10px;
    margin-left: 44px;
}
.VideoDescription:hover{

    background-color: #c0c0c0e2;
   
}
.VideoDescription .vd_desc_content{
    padding-right: 100px;
    /* background-color: #fff; */
    width: 60%;
}
.VideoDescription .vue__date{
    display: flex;
    gap: 20px;
    margin-bottom: 20px;
}
.VideoDescription .vue__date h3{
  font-weight: 600;
}