.all_view{
display: flex;
justify-content: flex-end;
gap: 15px;
}
.view{
    height: max-content;
    margin-top: 20px;
}
.view .mainVideo{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
width: 1050px;
height: 550px;
background-color: transparent;
}
.view .mainVideo video{
    width: 100%;
    height: 100%;
}
.view h4 {
   width: max-content;
   height: max-content;
   margin-left: 25px;
   margin-top: 10px;
   font-size: 23px;
}
.view_right_side{
height: max-content;
width: 450px;
margin-top: 20px;
}
.view_right_side .v_vid{
 
}