.all_view{
display: flex;
justify-content: flex-end;
gap: 50px;
}
.view{
width: 600px;
height: 400px;
background-color: green;
}
.view_right_side{
    background-color: red;
height: max-content;
}
.view_right_side .v_vid{
 
}